#games-list {
  tr {
    td {
      vertical-align: middle;
      cursor: pointer;

      img {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 150px;
      }
    }
  }
}
