$break-big: 991px;

#game-schedule {
  margin-bottom: 20px;
  .game-schedule-image {
    @media (max-width: $break-big) {
      float: right !important;
    }
    img {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      width: 100%;
      max-width: 250px;
      @media (max-width: $break-big) {
        margin: 60px auto;
      }
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .datepicker {
    margin: 20px auto 10px;
    @media (max-width: $break-big) {
      margin-top: 0;
    }
  }

  .schedule-time-item {
    color: #e7e7e7;
    position: absolute;
    font-size: 11px;
    margin-top: -8px;
    margin-left: -34px;
  }

  .schedule-day {
    position: relative;
    height: 650px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-bottom: 3px;
  }

  .schedule-range {
    color: white;
    position: absolute;
    padding: 0 5px;
    margin: 2px;
    width: calc(100% - 4px);
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    transition: all 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  .FREE_SCHEDULE_STATUS {
    color: lightgrey;
  }
  .FREE_SCHEDULE_STATUS:hover {
    box-shadow: 0 0 5px #d9eeff;
  }
  .FREE_SCHEDULE_STATUS.schedule-range-selected {
    border-color: #d9eeff !important;
    background-color: #d9eeff !important;
  }
  .BUSY_SCHEDULE_STATUS {
    border-color: #265985;
    background-color: #265985;
  }
  .BUSY_SCHEDULE_STATUS:hover {
    box-shadow: 0 0 3px #265985;
  }
  .BUSY_SCHEDULE_STATUS.schedule-range-selected {
    border-color: #3174ad !important;
    background-color: #3174ad !important;
  }
}
