#game-schedule {
  img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .datepicker {
    margin: 20px auto 10px;
  }

  .schedule-time-item {
    color: #e7e7e7;
    position: absolute;
    font-size: 11px;
    margin-top: -8px;
    margin-left: -34px;
  }

  .schedule-day {
    position: relative;
    height: 500px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}
