#game-schedule {
  img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
  }
  .datepicker {
    margin: 20px auto
  }
  table#game-schedule-table {
    td {
      padding: 3px 8px;
    }
  }
}
